/*  your css code here. If applicable */

body{
	width:1100px;background-color:greenyellow
}
table{
	width:1100px;border: 1px solid black;
}
td{
    padding:10px;border:1px solid black;
}
.img{
	width:200px
}
.text{
	width:600px;
}